#container{
  
    width:100%; 
    display:flex; 
    /* border:1px solid red; */
    height:40px;
    justify-content: space-evenly;
    margin:auto;
    background-color: white;
    padding-bottom: 4px;
    /* border: 0.5px solid rgb(101, 99, 99); */
    box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px; 
    /* margin-top: 20px; */
    padding-top: 20px;
} 
#box1{
    /* border:1px solid green; */
    display:flex;
    /* justify-content: space-between; */
    width: 80%;
    height:auto;
    background-color: white;
   /* border:1px solid black; */
    justify-content: space-evenly;
}
#box1 h4{
    color:#212121;
    font-size: 14px lato;
    font-weight: bold;
    font-family: sans-serif;
    position:relative;
    cursor: pointer;
}
#box1 h4:hover{
    color:#00B1CD;
}
a{
    text-decoration: none;
}

 
#container2{
    width:100%; 
    display:flex; 
    /* border:1px solid yellow; */
    height:50px;
    justify-content: space-evenly;
    margin:auto;
    background-color: white;  
    /* margin-top: -20px; */
    margin-bottom: 20px;
}
#box2{
    /* border:1px solid green; */
    display:flex;
    /* justify-content: space-between; */
    width: 80%;
    height:auto;
    background-color: white;
   /* border:1px solid black; */
    justify-content: space-evenly;
    padding:10px 0px 10px 0px;
}
#box2 div{
    border:0.5px solid rgb(197, 197, 206);
    width:9%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    cursor: pointer;
}
#box2 div:hover{
    border:1px solid #00B1CD;
    background-color:rgba(0,0,0,0);
    text-transform: capitalize;
    text-shadow: rgb(65, 168, 133);
    text-decoration-color: #00B1CD;
}
#box2 p{
    font-size: 14px;
    font-family: sans-serif;
    color:#000000;
}

