#cont{
  width: 80%; height: auto; margin: auto; margin-top: 10px;
  display: flex;justify-content: space-between;
}
#first{
   width: 20%; height: 1000px; box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#second{
   width: 60%; height: auto; 
}

#third{
   width: 30%; height: 1147px;  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
#cont>#first>h3{
 text-align: center; 
}
#firstOne>h3{
text-align: center; 
}
#latestnews_section{
  padding-left: 10px; font-family: sans-serif;
}
#recommended_news{
padding-left: 10px; font-family: sans-serif;
}
hr+h3>a{
color: #00b1cd; text-decoration: none;
}
h4+p{
  padding-left: 10px; font-weight: lighter; font-size: large; color: gray;  font-family: sans-serif;
}
#second>h2{
  text-align:center; 
}
#second_one{
 width: 90%; height:500px; margin: auto;  border-radius: 5px; 
}
#second_one:hover{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#second_one>h3{
padding-left: 10px; color: #00b1cd;  font-family: sans-serif;
}
#second_one>h3>a{
text-decoration: none;  color: #00b1cd; 
}
#second_one>h3+h2{
 padding-left: 10px;  font-family: sans-serif;
}
#second_one>img{
 width: 95%;  border-radius: 5px;margin-left: 15px; 
}
#second_one>p{
 padding-left: 10px; font-weight: lighter; font-size: large; color: gray;  font-family: sans-serif;
}
p>svg{
 padding-left: 250px; font-size: 30px; 
}
#second_two{
width: 90%; height: 200px;  margin: auto; display: flex; justify-content: space-evenly;
border-radius: 5px; align-items: center;
}
#second_two:hover{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#divinsidediv{
width: 65%; height: auto;   border-radius: 5px;  font-family: sans-serif;
}

#divinsidedivtwo{
width: 30%; height: 170px; border-radius: 5px;  font-family: sans-serif;
}

#divinsidediv>h3{
padding-left: 10px; color: #00b1cd;  font-family: sans-serif;
}
#divinsidediv>h3>a{
text-decoration: none;  color: #00b1cd;  font-family: sans-serif;
} 
#divinsidediv>h4{
 padding-left: 10px;  font-family: sans-serif;
}
#divinsidedivtwo>img{
 width: 100%; border-radius: 5px;
}
#button{
margin: auto;
text-align: center;
}
#button>a{
height: 40px;
width:100px ;
background: #00b1cd;
}
#button button{
border-radius: 5px;
width:200px;
height:40px;
display: inline-block;
  background: #00b1cd;
  color: #fff;
 border-color: none;
  font-weight: 900;
  line-height: 40px;
  font-family: "Lato",sans-serif;
}
#advertise{
height:400px;
width:90%;
align-items: center;
background-color : #e5e5e5;
margin: auto;
margin-top: -20px;
}
#advertise>p{
text-align: center;
  font-weight: lighter;
  font-size: large;
  color: gray;
  font-family: sans-serif
}
#advertise>img{
width: 95%;  border-radius: 5px;margin-left: 15px; 
}

#third_one>p{
 text-align: center; font-weight: lighter; font-size: large; color: gray;  font-family: sans-serif;
}
#thirdclone_one>p{
text-align: center; font-weight: lighter; font-size: large; color: gray; 
}
#third_one>img{
width: 100%;
}
#thirdclone_one>img{
width: 100%; 
}
#third_two{
 width:100%;  height: 300px; position:relative;
}
#third_two>h3{
text-align: center; 
}
#third_two>h4{
 padding-left: 10px;  font-family: sans-serif;
}
#third_two>img{
 width: 100%;
}
#fourdivs{
height: 100px; width: 100%;  align-items: center;display: flex; justify-content: space-evenly; align-items: center;
box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
#twodiv{
 width: 60%; height: 90px; padding-left: 10px; padding-bottom: 15px;  font-family: sans-serif;
}
#twodivs{
 width: 30%; height: 90px;  font-family: sans-serif;
}

#twodivs>img{
 width: 100%; height: 90px; border-radius: 5px;
}
span{
color: #00b1cd;
}
#cont p{
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}
#first h4{
  margin-top: 10px;
  font-size: 15px;
  font-family: sans-serif;
}